[Desktop Entry]
Type=Application
Name=Blink
GenericName=Blinking LED GUI
Exec=/usr/bin/blink
Icon=/usr/share/blink/blink_icon.xpm
Terminal=false
Categories=Graphics;Electronics;
Keywords=embedded electronics;electronics;avr;microcontroller;

